*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-image: url('images/wellington.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section{
	width: 100%;
	overflow: hidden;
	background-color: rgba(234, 234, 234, 0.3)
}

.container{
	float: right;
	background: #1f2666;
}

header{
	background-color: #22a196;
	color: white; /* more readable on an orange background */
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center
}

nav{
	width: 100%;
	height: 60px;
	padding: 0px;
	top: 0px;
	background-color: #1f2666;
	position: fixed;
}

nav h3{
	float: left;
	text-align: center;
	margin: 0px;
	line-height: 60px;
	text-decoration: none;
	padding-left: 10px;
	padding-right:10px;
}

nav a{
	float: right;
	display: inline-block;
	background-color: #1f2666;
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	width: 20%;
	height: 100%;
	padding: 0px;
}
nav a:hover{
	background-color: #6590d6; /* Hover styles to let people know they can click it */
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}


.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-20{
	width: 20%;
	float: left;
}

.g-20r{
	width: 20%;
	float: right;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 10px 10px;
}
